* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito-Sans';
  src: url('./assets/font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

body {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background: url('./assets/img/radni-stol-koji-tip-ste-vi.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .list__wrapper {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.833);
    width: 50%;
    margin: 0 auto;
    height: 85vh;
  }

h1,
button,
input,
label {
  font-family: 'Nunito-Sans';
}

h1 {
  color: rgb(156, 0, 0);
}

.list__container {
  border: 1px solid;
  width: 30%;
  margin: 0 auto;
  border-radius: 50px;
}

  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .dark-mode {
    background-color: #1e1e1e;
  }

  .button__container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .all__tasks,
  .completed__tasks,
  .incompleted__tasks {
    background-color: transparent;
    width: 130px;
    padding: 9px 20px;
    border-radius: 1px;
    color: black;
    font-size: 12px;
  }

  .disabled {
    background-color: transparent;
    pointer-events: none;
    border-bottom: 2px solid black;
  }

  .input__wrapper {
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  input[type="text"] {
    width:  100%;
    padding:  12px  20px;
    margin:  8px  0;
    box-sizing: border-box;
  }

  button {
    background-color: rgb(207, 134, 50);
    color: white;
    padding:  14px  20px;
    margin:  8px  0;
    border: none;
    cursor: pointer;
    border-radius: 100px;
  }

  .delete__button {
    background-color: #750010;
    width: 100px;
  }

  .delete__button:hover {
    opacity:  0.8;

  }

  ul {
    list-style-type: none;
    padding:  0;
  }

  label {
    flex: 1;
    padding: 0 5px;
  }

  .checkbox__value {
    margin-right: 15px;
  }

  .list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  5px 12px;
    margin-bottom:  7px;
    border-bottom:  1px solid #ddd;
  }

  .list__item:hover {
    background-color: rgba(0, 128, 0, 0.048);
   }

  @media screen and (max-width: 855px) {
    .button__container {
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
    }

    h1 {
      margin: 10px;
      font-size: 16px;
    }

    .delete__button {
      display: flex;
      width: 80px;
      justify-content: center;
      font-size: 12px;
    }

    .addTaskButton {
      font-size: 12px;
    }

    .input__wrapper {
      margin: 0 auto;
    }

    .list__wrapper {
      height: 95vh;
    }
  }